<div class="card mb-4">
        {% if property.filename  %}
            <img src="{{ vich_uploader_asset (property, 'imageFile') | imagine_filter('thumb') }}" alt="car-image-top" style="width: 100%; height: auto">
        {% else %}
            <img src="{{ '/images/properties/empty.png'| imagine_filter('thumb') }}" alt="car-image-top" style="width: 100%; height: auto">
        {% endif %}
    <div class="car-body">
        <div class="car-title">
            <a href="{{ path('property.show',{slug: property.slug, id : property.id}) }}">
                {{  property.title }}
            </a>
            <div class="car-text">
                {{ property.surface }} m²  -
                {{ property.city}}
            </div>
            <div class="car-text-primary">
                {{ property.formattedprice }} €
            </div>
        </div>
    </div>
</div>